input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.settingTitles {
  margin-bottom: 0;
}

.settingInputs {
  height: 100%;
  width: 100%;
  background-color: var(--inputBackgroundColor);
  border: solid 1px var(--inputBorderColor);
}

.warningSetDlgCard {
  background-color: var(--warningSetDlgCardBackgroundColor);
  color: var(--warningSetDlgCardColor);
  border: solid 1px var(--warningSetDlgCardBorderColor);
}

.warningSetDlgCardTitle {
  background-color: var(--warningSetDlgCardBackgroundColor);
  color: var(--warningSetDlgCardColor);
}

.buttonItem {
  background-color: var(--buttonItemBackgroundColor) !important;
  color: var(--buttonItemColor);
}