#tempMainContainer{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    #header{
        display: flex;
        justify-content: center;
    }
    #tableContainer{
        width: 100%;
        height: inherit;
        display: flex;
        #tablePrensent{
            width:50%;
            height:100%;
        }
        #tableBefore{
            width:50%;
            height:100%;
        }
        .periodBox{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .tableBox{
            padding:30px;
            padding-top:0px;
            

            
        }
    }
    
}