.autoSelector ::-webkit-input-placeholder {
  color: #4e546c !important;
}
.autoSelector {
  max-width: 207px;
  width: inherit;
  height: inherit;
}
.autoSelector /deep/ .v-text-field--box .v-input__slot,
.autoSelector /deep/ .v-text-field--outline .v-input__slot {
  min-height: auto !important;
  align-items: center !important;
  border: 1px solid var(--autoSelectorBorderColor) !important;
  background: url('../images/selector_arrow.png') no-repeat 95% 50%; 
}

.autoSelector /deep/ .v-input__icon .v-icon {
  display: none;
}

.autoSelector /deep/ .v-select__selections {
  padding-top: 0px !important;
  color: var(--autoSelectorColor) !important;
  font-size: 15px;
  flex-wrap: unset !important;
  overflow:hidden;
}

.autoSelector /deep/ .v-input__icon{  
  background: url('../images/selector_arrow.png') no-repeat 80% 15%; 
}

.v-select-list /deep/ .v-list{ 
  margin-top: 33px;
  background-color: var(--autoSelectorBackgroundColor) !important;
  border: 1px solid var(--autoSelectorBorderColor);
}