    .v-btn {
        min-width: 0;
        margin: 0;
    }
    .alarmViewSelector {
        height: 34px;
        width: 100%;
    }
    .useAlarmCode {
        margin-top: 0px;
    }
    .searchBtn {
        height: 33px;
    }