div.v-tabs__div /deep/ .v-tabs__item:not(.v-tabs__item--active) {
  opacity: 1;
  border-radius: 10px 10px 0 0 /  10px 10px 0 0;
}
.robotSelectText {
  color: var(--robotSelectTextColor);
  font-size: 20px;
  font-weight: bold;
}