@import "src/commons/table";

.alarmListTableCard {
  border: solid 1px var(--alarmListTableCardBorderColor) !important;
}

.alarmViewData {
  width: 100%;
}

.convert {
  margin-top: 1px;
  margin-left: 5px;
  font-size: 12px;
  color: var(--convert);
}

.tdText { 
    color: var(--tdTextColor);
}