.torqueloadpicker {
    width: 100% !important;
    border: 1px solid #545a73;
    border-radius: 2.5px !important;
  }
  .torqueloadpicker /deep/ .mx-calendar-content .cell:hover {
      background-color: #1284e7 !important;
      color: white !important;
  }
  .torqueloadpicker /deep/ .mx-panel-date td.last-month ,.datepicker /deep/ .mx-panel-date td.next-month {
    color: #6E6E6E !important;
  }
  .torqueloadpicker /deep/ input.mx-input::-webkit-input-placeholder {
    color: #545a73 !important;
  }
  .torqueloadpicker /deep/ .mx-input-append {
    background-color: var(--datePickerAppendBackgroundColor) !important;
  }
  .torqueloadpicker /deep/ .mx-calendar-content td.cell.inrange {
    background-color: rgba(190, 189, 189, 0.562);
  }
