.sideIcon {
  margin-left: -5px;
}
.overflow-hidden {
  overflow: hidden;
}
.horiz-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.tabLogo {
  pointer-events: none;
  cursor: default;
}
.tabTitle {
  font-weight: bold;
}
.mainTabSpan {
  color: var(--mainTabSpanColor);
}
.showBtn {
  right: 0;
}
.footerTextColor {
  font-weight: bold;    
}
.footerNameColor {
  font-weight: bold;    
}
.v-tabs__slider-wrapper {
  top: 0px;   
}
.tabItem /deep/ .v-tabs__item {
  opacity: 1;
}
#main{
  width:100%;
  height:100%;
  .v-content__wrap{
    width:100% !important;
    height: 100% !important;
    .v-window{
      width:100% !important;
      height: 100% !important;
      
    }
  }
  
  
}